@mixin max-width($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin min-width($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin transition{
    transition: all 0.3s ease;
}

@mixin btn {
    width: 180px;
    display: block;
    padding: 13px 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    background-color: #FCB72B;
    color: #ffffff;
    @include transition;
    border: 3px solid transparent;

    &:hover {
        border: 3px solid #FCB72B;
        background-color: #ffffff;
        color: #FCB72B;
    }
}