.questions {
  padding-bottom: 160px;
}

.questions__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.questions__inner {
  margin-top: 64px;
}

.question__main__drop-downs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.question__main__drop-downs + .question__main__drop-downs {
  margin-top: 64px;
}

.questions__subtitle__box {
  width: 100%;
  max-width: 290px;
}

.questions__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.questions__drop-downs__box {
  width: 100%;
  max-width: 730px;
}

.questions__drop-down {
  position: relative;
  padding: 0 40px 32px;
  background-color: #f2f5f9;
  @include transition;

  &:hover {
    background-color: #fff4df;
  }
}

.questions__drop-down::before {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 15px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.questions__drop-down + .questions__drop-down {
  margin-top: 16px;
}

.questions__drop-down__title__box {
  padding: 32px 0 0;
  list-style-type: none;
}

.questions__drop-down__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.questions__desc {
  margin-top: 24px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

@include max-width(900px) {
  .question__main__drop-downs {
    flex-direction: column;
  }

  .questions__subtitle__box {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .questions__subtitle {
    text-align: center;
  }

  .questions__drop-downs__box {
    width: 100%;
    max-width: 1000px;
    margin-top: 32px;
  }
}

@include max-width(610px) {
  .questions__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }

  .questions__inner{
    margin-top: 48px;
  }

  .questions__subtitle {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
  }

  .questions__drop-down {
    padding: 0 35px 32px 20px;
  }

  .questions__drop-down::before {
    right: 20px;
  }

  .questions__drop-down__title__box {
    width: 100%;
    max-width: 260px;
  }
}

@include max-width(370px) {
  .questions__drop-down::before {
    right: 10px;
  }

  .questions__drop-down__title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.803571px;
  }
}
