.types {
    padding-bottom: 180px;
}

.types__inner {
    display: flex;
    flex-direction: column;
}

.types__item {
    padding: 70px 0;
    margin-bottom: 180px;
    display: flex;
    background-image: url('../images/riding-bg.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) calc(50% + 3px);

    &:nth-child(2) {
        background-image: url('../images/city-bg.png');
        background-position: calc(50% - 600px) calc(50% + 3px);

        & .types__content {
            margin-left: auto;
        }
    }

    &:last-child {
        background-image: url('../images/paymet-bg.png');
        background-position: calc(50% + 550px) calc(50% + 3px);
    }
}

.types__content {
    max-width: 445px;
    width: 100%;
}

.types__subtitle {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}

.types__text {
    margin: 0 0 40px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.types__link {
    width: 150px;
    display: inline-block;
    margin-left: auto;
    padding: 8px 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    background-color: #FCB72B;
    color: #ffffff;
    @include transition;
    border: 3px solid transparent;

    &:hover {
        border: 3px solid #FCB72B;
        background-color: #ffffff;
        color: #FCB72B;
    }
}

@include max-width(768px) {
    .types__item {
        margin-bottom: 150px;
        padding-top: 450px;
        padding-bottom: 10px;
        background-position: calc(50% + 190px) calc(50% - 150px);
        text-align: center;

        & .types__content {
            margin-right: auto;
            margin-left: auto;
        }
    }

    .types__content {
        max-width: 573px;
    }

    .types__item:nth-child(2) {
        margin-bottom: 150px;
        padding-top: 450px;
        padding-bottom: 10px;
        background-position: calc(50% - 270px) calc(50% - 150px);
        text-align: center;

        & .types__content {
            max-width: 573px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .types__item:last-child {
        margin-bottom: 20px;
        padding-top: 470px;
        padding-bottom: 10px;
        background-position: calc(50% + 270px) calc(50% - 120px);
        text-align: center;

        & .types__content {
            max-width: 573px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@include max-width(576px) {
    .types__subtitle {
        font-size: 32px;
        line-height: 32px;
    }

    .types__text {
        font-size: 15px;
        line-height: 25px;
    }
    .types__item:first-child {
        background-image: url('../images/riding-mobile-bg.png');
        margin-bottom: 0px;
        padding-top: 340px;
        background-position: calc(50% + 10px) calc(50% - 150px);
    }

    .types__item:nth-child(2) {
        background-image: url('../images/city-mobile-bg.png');
        margin-bottom: 0;
        padding-top: 350px;
        background-position: calc(50% - 15px) calc(50% - 150px);
    }

    .types__item:last-child {
        margin-bottom: 5px;
        padding-top: 350px;
        padding-bottom: 10px;
        background-image: url('../images/paymet-mobile-bg.png');
        background-position: calc(50% + 20px) calc(50% - 150px);
    }
}